<h1>People list:</h1>

  <ul>
    <% @people.each do |person|%>
      <li>
        <strong><%= link_to person.name, person_path(person)%></strong>
      </li>
        <ul>
          <li>
            <%= person.birthday%>
          </li>
          <br>
        </ul>
    <%end%>
  </ul>