
<h1 class="c">People Index</h1>
<hr>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Current City</th>
      <th scope="col">Current Employer</th>
      <th scope="col">Current Position Title</th>
    </tr>
  </thead>
  <tbody>
  <% @people.each do |person|%>
    <tr>
      <td><%= link_to person.name, person_path(person)%></td>
      <%if person.cities != []%>
        <td><%=link_to person.cities.last.name, city_path(person.cities.last)%></td>
      <%end%>
      <%if person.employers != []%>
        <td><%=link_to person.employers.last.name, employer_path(person.employers.last)%></td>
      <%end%>
      <%if person.positions != []%>
        <td><%=link_to person.positions.last.title, position_path(person.positions.last)%></td>
      <%end%>
    </tr>
  <%end%>
  </tbody>
</table>