<h1>People list:</h1>

  <ul>
    <% @people.each do |person|%>
      <li>
        <strong><%= link_to person.name, person_path(person)%></strong>
      </li>
        <ul>
          <li>
<<<<<<< HEAD
            <%= person.birthday.strftime('%b %d, %Y')%>
=======
            <%= person.birthday.strftime('%B %d, %Y')%>
>>>>>>> 7c1c9a3e0b4d03ff543a516f2c2a36993d086f63
          </li>
          <br>
        </ul>
    <%end%>
  </ul>