<h1>People list:</h1>

<table>
    <tr>
      <th>Name</th><th>Birthday</th>
    </tr>
  <tbody>
    <% @people.each do |person|%>
    <tr>
      <td class="left"><%= link_to person.name, person_path(person) %></td><td class="left"><%=person.birthday.strftime('%B %d, %Y')%></td>
    </tr>
    <%end%>
  </tbody>
</table>