<h1>Events list:</h1>


<table>
    <tr>
      <th>Visitor</th><th>Title</th><th>City</th><th>During</th>
    </tr>
  <tbody>
    <% @events.each do |event|%>
    <tr>
      <td class="left"><%= link_to event.visitor.name, person_path(event.visitor)%></td><td class="left"><%=link_to event.title, event_path(event)%></td><td><%= link_to event.destination.name, city_path(event.destination) %></td><td><%=event.start_date.strftime('%B, %Y')%></td>
    </tr>
    <%end%>
  </tbody>
</table>