
<h1 class="c">Events Index</h1>
<hr>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Visitor</th>
      <th scope="col">Title</th>
      <th scope="col">City</th>
      <th scope="col">During</th>
    </tr>
  </thead>
  <tbody>
  <% @events.each do |e|%>
    <tr>
      <td><%= link_to e.visitor.name, person_path(e.visitor)%></td>
      <td><%= link_to e.title, event_path(e) %></td>
      <td><%= link_to e.destination.name, city_path(e.destination) %></td>
      <td><%= e.start_date.strftime('%B, %Y') %></td>
    </tr>
  <%end%>
  </tbody>
</table>