<<<<<<< HEAD
<h1>Welcome to the Personal Timelines App</h1>
=======


<h1>Welcome to the Peronsal Timelines App</h1>
>>>>>>> 4c24f6d8a7728ccb926c9ed07d0896159a3ea447

<h4>This app stores your personal employment and travel history along with those of other people you know.</h4>
<h4>You can explore the people, cities, and employers in your network and use the app to look for coincidences.</h4>
<h4>Where you've found yourself living and working in the same place as somebody else in the network, we'll show you.</h4>
<h4>Click on a link above to start exploring!</h4>
<div id="home">
</div>