<h1>Cities list:</h1>

<table>
    <tr>
      <th>City</th><th>Average residence length</th>
    </tr>
  <tbody>
    <% @cities.each do |city|%>
    <tr>
      <td><%= link_to city.name, city_path(city)%>, <%=city.region%>, <%=city.country%></td><td><%= city.yandm(city.average_residency)%></td>
    </tr>
    <%end%>
  </tbody>
</table>